body {
    background-color: #ffffd2;
    font-size: 1.1em;
    font-family: "DejaVu Serif", serif;
}

h1, h2 {
    font-family: "Lobster Two", sans-serif;
    text-align: center;
    text-shadow: 3px 3px #d2ffff;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

a:hover {
    background-color: #d2ffff;
}
